* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.opa img {
  width:
  background-size: cover;
  background-position: center;
}
.opa {
  width: 1553px;
  display: flex;
  
}
.opa div {
  margin-left: 14px;
}
.ooo p {
  
}
